div{
	position:relative;
	cursor:default;
	font-size:1em;
}
*:focus{
	outline: none;
	box-shadow: none;
}
.breadcrumbs{
	left:15px;
	top:15px;
	font-size:1em;
	position:absolute;
	color:#FFFFFF;
	font-family:robotoregular;
}
.elebox.createpostinfo{
	width:100%;
	max-width:500px;
	clear:both;
	margin:0em 0em 2em 0em;
	display:none;
}
.elebox.home{
	padding:1.5em 1.5em 1.5em 1.5em;
	min-width:240px;
	min-height:110px;
	margin:2em 0 0 1.8em;
	background:#FFFFFF;
	float:left;
	font-size:1.2em;
	line-height:1.5em;
	display:none;
}
.elebox.home.color0{
	border-right:10px solid #F05455;
}
.elebox.home.color1{
	border-right:10px solid #FEC111;
}
.elebox.home.color2{
	border-right:10px solid #72BF44;
}
.elebox.home.responses{
}
.elebutton{
	font-size:0.9em;
	background:#63A1D7;
	padding:1em 3em 0.7em 3em;
	color:#FFFFFF;
	border:1px solid #CBCDCF;
	min-width:7em;
	max-width:11em;
	text-align:center;
}
.elebutton:hover{
	background:#5387B4;
}
.elebuttonbox{
}
.elebutton.address{
	float:left;
	margin:0 0 4em 2.2em;
}
.elebutton.adduser{
	margin:1.8em 0 0 1.9em;
}
.elebutton.centered{
	margin:0 auto;
}
.elebutton.createpost{
	margin:0 0 0 2em;
	float:left;
}
.elebutton.createpost.funds{
	background:#72BF44;
}
.elebutton.createpost.items{
	background:#FEC111;
}
.elebutton.createpost.time{
	background:#F05455;
}
.elebutton.disabled{
	background:#FFFFFF;
	opacity:0.6;
	margin-top:-3.3em;
	height:1.4em;
	display:none;
	border:2px solid #FFFFFF;
}
.elebutton.footerbutton{
	background:#63A1D7;
	float:left;
	margin:0em 0.3em 0 2em;
}
.elebutton.footerbutton:hover{
	background:#5387B4;
}
.elebutton.menuuserbox{
	float:right;
	width:100%;
	margin-top:-1px;
}
.elebutton.popup{
	margin:0 1em 0 1em;
	display: inline-block;
}
.elebutton.popup0{
	margin:0 1em 0 8em;
	float:left;
}
.elebutton.popup1{
	margin:0 0em 0 1em;
	float:left;
	
}
.elebutton.regbutton{
	color:#58595B;
	background:#FFFFFF;
	float:left;
	margin:1.8em 1.5em 0 1.9em;
	padding-left:5em;
}
.elebutton.regbuttonlast{
	color:#58595B;
	background:#FFFFFF;
	float:left;
	margin:1.8em 0.0em 0 1.9em;
	padding-left:5em;
}
.elebutton.regbutton.active{
	background:#63A1D7;
	color:#FFFFFF;
}
.elebutton.regbuttonlast.active{
	background:#63A1D7;;
	color:#FFFFFF;
}
.elebutton.regbutton:after{
	background:#FFFFFF;
	content:"";
	display:block;
	position:absolute;
	top:0.25em;
	right:-1.2em;
	width:2.0em;
	height:2.0em;
	border-right:1px solid #CBCDCF;
	border-bottom:1px solid #CBCDCF;
	-moz-transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
}
.elebutton.regbutton.active:after{
	background:#63A1D7;
	content:"";
	display:block;
	position:absolute;
	top:0.25em;
	right:-1.2em;
	width:2.0em;
	height:2.0em;
	border-right:1px solid #CBCDCF;
	border-bottom:1px solid #CBCDCF;
	-moz-transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
}
.elebutton.tabbutton{
	color:#58595B;
	background:#FFFFFF;
	float:left;
	margin:1.8em 0.0em 0 1.9em;
	max-width:10em;
}
.elebutton.tabbutton.back:hover{
	background:#5387B4;
	color:#FFFFFF;
}
.elebutton.tabbutton.normal{
	background:#63A1D7;
	color:#FFFFFF;
}
.elebutton.tabbutton.normal:hover{
	background:#5387B4;
	color:#FFFFFF;
}
.elebutton.tabbutton.active{
	background:#63A1D7;
	color:#FFFFFF;
}
.elebutton.uploadstart{
	float:right;
	width:7em;
	margin-right:0.8em;
}
.elebutton.whitebutton{
	margin: 0 auto;
	margin-top:2em;
	color:#58595B;
	background:#FFFFFF;
}
.elebutton.whitebutton:hover{
	background:#5387B4;;
	color:#FFFFFF;
}
.elehref{
	float:right;
	color:#63A1D7;
	margin:1em 0 0em 0;
}
.elehref.homedashboardlogin{
	float:left;
	color:#63A1D7;
	margin:0em 0 0em 0;
}
.elehref:hover{
	text-decoration:underline;
}
.elehref.centered{
	width:100%;
	text-align:center;
	color:#63A1D7;
}
.elehref.registernow{
	float:right;
	margin:1em 6em 3em 0;
}
.eleicon{
	font-family:helpout;
	font-size:1em;
	width:1em;
	height:1em;
}
.eleicon.gridsearchclear{
	float:right;
	width:1.5em;
	height:1.5em;
	font-size:1.5em;
	margin-top:-1.65em;
	display:none;
}
.eleicon.house1{
	width:100%;
	height:1.5em;
	text-align:center;
	font-size:10em;
	margin:0.4em 0 0em 0;
	float:left;
}
.eleicon.house1social{
	color:#63A1D7;
	font-size:2.4em;
	width:1.5em;
	height:1.5em;
}
.eleicon.house41{
	color:#FFFFFF;
	font-size:8em;
	line-height:1em;
	margin:0.4em 0 0.4em 0;
	width:100%;
	height:1.1em;
}
.eleicon.house42{
	color:#63A1D7;
	font-size:3em;
	width:100%;
	height:1.4em;
}
.eleicon.house62{
	color:#FEC111;
	font-size:3em;
	width:100%;
	height:1.4em;
}
.eleicon.logo1{
	top:0;
	position:absolute;
	background:#FFFFFF;
	color:#63A1D7;
	font-size:3.2em;
}
.eleicon.pageclose{
	position:absolute;
	right:0.5em;
	top:0.5em;
	width:1.35em;
	height:1.5em;
	color:#444548;
	font-size:1.5em;
}
.eleicon.pageclose:hover{
	background:#FFFFFF;
}
.eleicon.regbutton{
	position:absolute;
	left:0.3em;
	top:-0.2em;
	width:1.3em;
	height:1.5em;
	font-size:2.3em;
}
.eleicon.regbutton.active{
	color:#5387B4;
}
.eleicon.regbuttonlast{
	position:absolute;
	left:0.3em;
	top:-0.2em;
	width:1.3em;
	height:1.5em;
	font-size:2.3em;
}
.eleicon.regbuttonlast.active{
	color:#5387B4;
}
.eleiconover{
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
}
.eleicon.popupclose:hover{
	background:#CBCDCF;
}
.eleimage.house5{
	margin-top:20px;
	float:left;
	width:70px;
	height:23px;
	cursor:pointer;
}
.eleimage.house5.android{
	float:left;
}
.eleimage.house5.apple{
	float:right;
}
.eleimagebox{
	margin:0.5em 0 1.5em 0;
	border:1px solid #CBCDCF;
	background:#FFFFFF;
}
.eleinput{
	margin:0 2em 0 2em;
	text-align:left;
	clear:both;
}
.eletextarea{
	width:95%;
	resize:none;
	margin:0 1.2em 0 0.2em;
	text-align:left;
	clear:both;
	border:none;
	font-family:roboto;
}
.eleinputbox{
	padding:0.4em 0 0.4em 0;
	margin:0.5em 0 1.5em 0;
	border:1px solid #CBCDCF;
	background:#FFFFFF;
	width:95%;
	max-width:300px;
}
.eleinputbox.address{
	background:#EFEFF4;
	border:none;
}
.eleinputfloatleft{
	margin:0 2em 0 2em;
	text-align:left;
	float:left;
}
.eleinputgridsearch{
	width:100%;
	border:1px solid #CBCDCF;
	background:#FFFFFF;
}
.eleinputgridsearchinput{
	width:96%;
	border:none;
	padding:0.4em 0 0.4em 0.1em;
	font-family:roboto;
}
.eleinputbox.popupspacer{
	width:0;
	border:none;
}
.eleinputbox.homedashboardspacer{
	width:0;
	border:none;
	margin:0.3em 0 0 0;
}
.eleinput.popup{
	margin-left:0.5em;
}
.eleinputbox.upload{
	width:300px;
}
.eleinputbox.weekhours{
	margin-bottom:2.5em;
}
.eleinputbox.gridsearch{
	width:100%;
	margin:0 0 0.5em -2em;
}
.eleinputinput{
	padding:0.1em 0 0 0.4em;
	width:97%;
	border:none;
	font-family:roboto;
}
.eleinputselect{
	padding:0.1em 0 0 0em;
	width:97%;
	border:none;
	font-family:roboto;
}
.eleline{
	background:#CBCDCF;
	font-size:1em;
	height:1px;
}
.eleline.address{
	width:90%;
	margin:6em 5em 3em 2em;
}
.eleline.homedashboardbox{
	background:#EFEFF4;
	width:100%;
	margin:0em 0em 0em 0em;
}
.eleline.registerpage{
	width:90%;
	margin:0em 5em 2em 2em;
}
.elememo{
	float:left;
	margin:1em 0 1em 1em;
	text-align:left;
}
.elememo.centered{
	width:100%;
	text-align:center;
	margin:1.2em 0 0 0;
	text-align:center;
}
.elememo.createposttype{
	width:100%;
	margin-left:2em;
}
.elememo.mypostsedit{
	margin:0 0 0 2em;
	text-decoration:underline;
	clear:both;
	width:100%;
}
.elememo.notregisteredyet{
	float:left;
	margin-left:4em;
	color:#CBCDCF;
}
.elememo.popup{
	margin:0 0 2em 0.5em;
}
.elepopup{
	width:100%;
	margin:0 auto;
	background:#EFEFF4;
}
.elepopupbuttons{
	width:100%;
	margin:0 auto;
	height:48px;
	text-align:center;
}
.elepopupbuttonstwo{
	width:100%;
	margin:0 auto;
	height:48px;
	text-align:center;
	display:inline-block;
	vertical-align:top;
}
.eleicon.popupclose{
	float:right;
	font-family:helpout;
	margin:-0.2em 0.5em 0 0;
	font-size:1.2em;
	width:1.3em;
	height:1.5em;
	color:#FFFFFF;
}
.elepopupover{
	position:absolute;
	top:48px;
	width:100%;
	background:#EFEFF4;
	display:none;
}
.elepopuptable{
	border:none;
	width:100%;
	border-spacing:0;
}
.elepopuptd{
	padding:0;
}
.elepopuptitle{
	background:#63A1D7; 
	height:30px;
	padding-top:18px;
	color:#FFFFFF;
	text-align:center;
}
.elepopupwork{
	min-height:100px;
	margin:2em;
}


.elepopupfull{
	margin : 0 0 0 0;
	width:100%;
	height:100%;
	background:#EFEFF4;
}
.elepopupfullwork{
	width:100%;
	height:100%;
	display:inline-block;
}
.elepopupfullworkin{
	position:absolute;
	left:1.5em;
	right:1.5em;
	top:1.5em;
	bottom:1.5em;
	overflow-y:auto;
}
.eleradio{
	font-size:2.0em;
	margin-left:1em;
	width:1em;
	height:1em;
}
.eleradiobox{
	margin-bottom:2em;
}
.eleselectweekhours{
	float:left;
	
};
.elespan{
	float:left;
}
span.regbuttonnum{
	position:absolute;
	left:1em;
	top:0.2em;
	font-size:1.7em;
	color:#FFFFFF;
}
.elespanblue{
	color:#63A1D7
}
.elespanhomedashboardlargenum{
	margin:0.4em 0 -0.5em 0;
	font-size:5em;
}
.elespanhomedashboardlargenum.color0{
	color:#F05455;
}
.elespanhomedashboardlargenum.color1{
	color:#FEC111;
}
.elespanhomedashboardlargenum.color2{
	color:#72BF44;
	
}
.elespanhomedashboardtype{
	float:right;
	margin:2.2em 0 0 3em;
	font-size:1.5em;
}
table.eletable{
	border-spacing: 10px;
	border-collapse: separate;
	max-width:300px;
	table-layout:fixed;
}
td.eletablecol{
	padding:0;
	width:100px;
	overflow:hidden;
}
.eletime{
	width:100%;
}
.eleuploadbrowse{
	float:left;
	width:80px;
	font-size:0.9em;
	background:#63A1D7;
	padding:1em 0 0.7em 0;
	color:#FFFFFF;
	border:1px solid #CBCDCF;
	width:10em;
	text-align:center;
	margin-bottom:1em;
	margin-left:1.5em;
}
.eleuploadfile{
	width:4em;
	font-size:2.5em;
}
.eleuploadfilebox{
	overflow:hidden;
	opacity:0;
	position:absolute;
	top:0;
	width:100%;
	height:100%;
	background:red;
}
.eleuploadfilename{
	margin:0.1em 0 0 1.3em;
	height:25px;
	background:#FFFFFF;
}
.eleuploadprogress{
	margin:0.5em 0 0 0.6em;
	width:95%;
	height:10px;
	background:#FFFFFF;
}
.eleweekhours{
	border:1px solid #CBCDCF;
	padding:0.4em 0 0.4em 0;
	margin:0.2em 0.4em 0.4em 0.4em;
	width:8em;
	background:FFFFFF;
}
.eleweekhourstext{
	margin:0.4em 0 0 0.4em;
	}
.eleweekhoursicon{
	font-family:helpout;
	font-size:1.5em;
	width:1em;
	height:1em;
	margin-top:-0.5em;
}
.footerdocs{
	text-align:center;
	width:100%;
	margin-top:0.7em;
	font-size:1.2em;
}
.footerdocslinks{
	cursor:pointer;
}
.footerdocslinks:hover{
	text-decoration:underline;
}
.gridbox{
	float:right;
	margin:0 20px 0 0;
	border:1px solid #CBCDCF;
	border-style:none solid none solid
}
.gridcell{
	width:100%;
	height:28px;
	padding:12px 0 0 2px;
	border-bottom:1px solid #CBCDCF;
}
.gridcellbutton{
	width:100%;
	height:28px;
	padding:12px 0 0 2px;
	border-bottom:1px solid #CBCDCF;
	color:#63A1D7;
}
.gridcellbutton:hover{
	color:#03A1D7;
}
.gridcolumnsbox{
	float:right;
	height:100%;
	margin:0 20px 0 0;
	display:none;
}
.gridcolumnheading{
	float:left;
	margin-top:1em;
	width:100%;
	background:#EFEFF4;
	height:23px;
	font-size:1.2em;
	text-align:left;
	border-bottom:1px solid #CBCDCF;
}
.gridcolumn{
	float:left;
	width:100%;
	background:#FFFFFF;
}
.gridrowover{
	left:0;
	width:100%;
	height:41px;
	background:#63A1D7;
	opacity:0;
}
.gridrowover:hover{
	opacity:0.2;
}
.house1{
	height:440px;
	width:100%;
}
.house1box{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:85%;
	padding:4px 0px 4px 0px;
	margin-bottom:3em;
	color:#63A1D7;
}
.house1boxline{
	width:100%;
	height:4px;
}
.house1boxtext{
	margin-top:15px;
}
.house1boxline{
	width:100%;
	height:4px;
}
.house1center{
	float:left;
	width:100%;
}

table.house1centericons{
	margin:0 auto;
	width:60%;
}
.homedashboardpie{
	margin:1em 0 0 0;
}
.homedashboardpielegend{
	margin:1em 0 1em 0;
	clear:both;
}
.homedashboardpielegendcolor{
	float:left;
	padding:0.5em 0.5em 0.5em 0.5em;
}
.homedashboardpielegendtext{
	margin:-0.25em 0 1em 1em;
	float:left;
}
.house2{
	height:160px;
	width:100%;
}
.house2centerphones{
	margin:0 auto;
	width:90%;
}
.house3{
	height:150px;
	width:100%;
	background:#63A1D7;
}
.house3center{
	margin:0 auto;
	width:100%;
}
.house3text1{
	padding-top:1.2em;
	width:90%;
	text-align:center;
	color:#FFFFFF;
	font-size:2.2em;
}
.house3text2{
	width:90%;
	text-align:center;
	color:#FFFFFF;
	font-size:3.6em;
}
.house4{
	height:120px;
	width:100%;
	background:#63A1D7;
}
.house4center{
	margin:0 auto;
	width:340px;
}
.house4stepiconbox{
	position:absolute;
	width:110px;
	height:250px;
}
.house4stepiconboxcenter{
	left:35%;
}
.house4count{
	width:100%;
	color:#FFFFFF;
	font-size:1.6em;
	margin-top:-7em;
}
.house4iconsbox{
	margin:0 0 0 1em;
	text-align:center;
	float:left;
	width:28%;
	height:100%;
	font-size:0.4em;
}
.house4text1{
	margin-top:1.2em;
	color:#FFFFFF;
	font-size:1.6em;
}
.house4text2{
	margin-top:1.4em;
	color:#FFFFFF;
	font-size:1.0em;
	width:100%;
	text-align:center;
}
.house5{
	height:280px;
	width:100%;
	background:#FEC111;
}
.house5center{
	margin:0 auto;
	width:150px;
}
.house6{
	height:120px;
	width:100%;
	background:#FEC111;
}
.img100{
	width:100%;
	height:100%;
}
.maincentered{
	width:300px;
	margin:0 auto;
}
.maincentered:after {
	content:"";
	display:table;
	clear:both;
}
.maincloak{
	position:absolute;
	top:0;
	height:100%;
	width:100%;
	background-color:rgba(0,0,0,0.4);
	display:none;
}
.maincloaktop{
	height:100%;
	width:100%;
}
.maindummy{
	display:none;
}
.mainfooter{
	background:#EFEFF4;
	height:20px;
	width:100%;
}
.mainfull{
	width:100%;
	display: table;
}
.mainheader{
	top:0;
	width:100%;
	height:auto;
	position:fixed;
	z-index:1;
}
.mainheaderleft{
	float:left;
	width:200px;
	height:100%;
}
.mainheaderleftmenu{
	background:#FFFFFF;
	min-height:600px;
}
.mainheaderwork{
	width:auto;
	height:100%;
	overflow:hidden;
}
.mainleft{
	float:left;
	width:200px;
	height:100%;
	display:table-cell;
	float: none;
	background:#FFFFFF;
}
.mainloader{
	position:absolute;
	left:0;
	height:100%;
	background:#5387B4;
}
.mainloaderfull{
	width:100%;
	height:3px;
	background:#63A1D7;
	margin-bottom:-3px;
}
.mainpage{
	width:100%;
	margin:0 auto;
}
.maintop{
	width:100%;
}
.maintopleftone{
	width:100%;
	height:50px;
	background:#63A1D7;
}
.maintop.one{
	height:50px;
	background:#63A1D7;
}
.maintop.two{
	height:60px;
	background:#EFEFF4;
}
.maintop.three{
	height:70px;
	background:#EFEFF4;
}
.mainwork{
	width:auto;
	height:100%;
	overflow:hidden;
}
.menuleft{
	border-width:1px;
	border-color:#CBCDCF;
	border-style:solid none solid none;
	width:100%;
	height:3em;
	text-align:left;
	margin-top:-1px;
}
.menuleft:hover{
	background:#969697;
	color:#FFFFFF;
}
.menuleft.active{
	background:#969697;
	color:#FFFFFF;
}
.menuleftbox{
	position:absolute;
	left:0;
	top:-35px;
	width:100%;
	overflow:hidden;
}
.menuleftspacer{
	height:115px;
}
.menulefttext{
	line-height:1.5em;
	margin:0.8em 0 0 1.6em;
}
.menutop{
	float:right;
	background:#63A1D7;
	height:100%;
	min-width:5em;
}
.menutoptext{
	margin:1.7em 5em 0 0;
	width:100%;
	text-align:center;
	color:#FFFFFF;
}
.menutop:hover{
	background:#5387B4;
}
.menutop.active{
	background:#5387B4;
}
.menutopbox{
	float:right;
	height:100%;
}
.menutopbox1{
	float:right;
	height:100%;
}
.menutopspacer{
	float:right;
	margin:11px 3px 0 3px;
	width:2px;
	height:25px;
	background:#5387B4;
}
.menuuserbox{
	height:100%;
}
.menuuserboxover{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
}
.menuuserboxdropdown{
	position:absolute;
	right:0;
	padding-left:2em;
	display:none;
}
.menuuserlogo{
	margin-top:1px;
	float:right;
	width:40px;
	height:40px;
	border-radius:20px;
	border:3px solid #5387B4;
	overflow:hidden;
}
.menuuserspacer{
	float:right;
	margin:11px 6px 0 6px;
	width:2px;
	height:25px;
	background:#5387B4;
}
.menuusertext{
	float:right;
	margin:15px 15px -15px 15px;
	color:#FFFFFF;
	background:#63A1D7;
	min-width:5em;
}
.messagetimed{
	display:none;
	position:absolute;
	right:0;
	padding:0.5em 2em 0.5em 2em;
	color:#FFFFFF;
	background:#63A1D7;
}
.myposts{
	margin:0 0 1em 1.8em;
	font-size:1.2em;
}
.mypoststitle{
	margin:0 0 0.4em 1.1em;
	font-size:2em;
	width:85%;
}
.mypoststype{
	margin:0 0 1em 1.8em;
	font-size:1.2em;
	font-style:italic;
}
.pageover{
	width:100%;
	background:#EFEFF4;
}
.tabbuttonsbox{
	float:left;
	width:100%;
	height:100%;
	overflow-x:auto;
	overflow-y:hidden;
}
.tabbuttonsboxin{
	position:absolute;
	height:100%;
}
.tabbuttons{
	float:left;
	width:100%;
}
.tabbuttonspacer{
	width:2.3em;
	height:100px;
	float:left;
	font-size:1em;
}
.tabwork{
	display:none;
}
.tabwork.btop{
	background:red;
	width:100%;
}



@media screen and (min-width: 360px){
.house1{
	height:350px;
}
table.house1centericons{
	margin:0 0 40px 90px;
	width:50%;
}
.house2{
	height:350px;
}
.house3{
	height:170px;
}
.house4{
	height:270px;
}
.house4iconsbox{
	font-size:1em;
}
.house5{
	height:170px;
}
.eleimage.house5{
	margin-top:20px;
	float:left;
	width:105px;
	height:32px;
}
.house5center{
	width:70%;
}
.house6{
	height:270px;
}
}



@media screen and (min-width: 640px){
.elebutton.regbutton:after{
	top:0.45em;
	right:-1.2em;
	width:2.1em;
	height:2.1em;
}
.elebutton.regbutton.active:after{
	top:0.45em;
	right:-1.2em;
	width:2.1em;
	height:2.1em;
}
.eleicon.house1{
	margin-bottom:0.8em;
}
.eleicon.logo1{
	font-size:5em;
}
.eleinputbox{
	max-width:400px;
}
.elepopup{
	margin:0 auto;
	width:360px;
	margin-top:20px;
}
.house1{
	float:left;
	height:480px;
	width:50%;
}
.house1box{
	width:80%;
	margin:0.4em 0 0 70px;
}
.house1center{
	width:200%;
}
table.house1centericons{
	margin:20px 0 0 200px;
	width:50%;
}
.house1icon{
	margin:0.6em 0 0.5em 0.0em;
	font-size:9em;
}
.house2{
	float:right;
	height:380px;
	margin-bottom:100px;
	width:50%;
}
.house2centerphones{
	margin:5em 1em 0 1em;
	width:80%;
}
.house3{
	float:left;
	height:330px;
	width:50%;
}
.house4{
	float:right;
	height:330px;
	width:50%;
}
.house5{
	float:left;
	height:330px;
	width:50%;
}
.house6{
	float:right;
	height:330px;
	width:50%;
}
.menutoptext{
	margin-top:15px;
}
}

@media screen and (min-width: 1040px){
.eleicon.house1{
	margin-bottom:0.1em;
}
.eleicon.logo1{
	font-size:7em;
}
.eleinputbox{
	max-width:500px;
}
.elepopup{
	margin:0 auto;
	width:500px;
	margin-top:20px;
}
.house1{
	height:470px;
}
.house1center{
	width:90%;
}
table.house1centericons{
	margin:1.6em 0 0.8em 170px;
}
.house1icon{
	margin:0.05em 0 -0.2em 0;
	font-size:15em;
}
.house2{
	height:470px;
	margin-bottom:0;
}
.house3{
	height:300px;
}
.house4{
	height:300px;
}
.house5{
	height:300px;
}
.house5center{
	margin:0 auto;
	width:300px;
}
.house6{
	height:300px;
}
	
@media screen and (min-width: 1440px){
.eleicon.logo1{
	font-size:8.5em;
}
	.house1{
	height:570px;
}
.house1centericons{
	margin:0 auto;
	margin:1.4em 0 0.8em 200px;
	width:40%;
}
.house2{
	height:570px;
}
	
}	
	
